/*
 * Copyright DATA RESPONS AS
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/usb/pd.h>
#include "imx8mp-nominal.dtsi"
#include "imx8mp.dtsi"

/ {
	model = "DR CPU Module 2";
	compatible = "datarespons,cpum2", "fsl,imx8mp";
	aliases {
		mmc0 = &usdhc3;
		state = &state_cpum;
		ethernet0 = &eqos;
	};

	chosen {
		stdout-path = &uart2;

		environment-qspi {
			compatible = "barebox,environment";
			device-path = &mx25u6435f, "partname:barebox-environment-qspi";
			status = "okay";
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0 0x80000000>;
	};

	state_cpum: state {
		magic = <0x883b86a6>;
		compatible = "barebox,state";
		backend-type = "raw";
		backend = <&backend_state_usdhc>;
		backend-stridesize = <64>;
		status = "okay";
		/* backend-storage-type = "circular"; */

		#address-cells = <1>;
		#size-cells = <1>;
		bootstate {
			#address-cells = <1>;
			#size-cells = <1>;
			last_chosen {
				reg = <0x0 0x4>;
				type = "uint32";
			};
			system0 {
				#address-cells = <1>;
				#size-cells = <1>;
				remaining_attempts {
					reg = <0x4 0x4>;
					type = "uint32";
					default = <3>;
				};
				priority {
					reg = <0x8 0x4>;
					type = "uint32";
					default = <21>;
				};
				ok {
					reg = <0xc 0x4>;
					type = "uint32";
					default = <0>;
				};
			};
			system1 {
				#address-cells = <1>;
				#size-cells = <1>;
				remaining_attempts {
					reg = <0x10 0x4>;
					type = "uint32";
					default = <3>;
				};
				priority {
					reg = <0x14 0x4>;
					type = "uint32";
					default = <20>;
				};
				ok {
					reg = <0x18 0x4>;
					type = "uint32";
					default = <0>;
				};
			};
		};
	};

    clocks {
		wlan_clk: clock@1 {
		#clock-cells = <0>;
            compatible = "fixed-clock";
            clock-output-names = "slp-clk";
            clock-frequency = <32768>;
            gpio = <&gpio1 4 0>; // EN_32KO-RTC
        };

		pcm_sai1_mclk: sai-mclk1 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency= <8192000>;
			clock-output-names = "sai1_mclk";
		};
	};

	regulators {
		compatible = "simple-bus";
		reg_wifi: wifi_pwr {
			compatible = "regulator-fixed";
			regulator-name = "reg_wifi";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio1 13 0>; /* PMIC_EN-WLAN */
			enable-active-high;
		};

		reg_usb_a_vbus: usb_a_vbus {
			compatible = "regulator-fixed";
			pinctrl-0 = <&pinctrl_usb0_vbus>;
			regulator-name = "reg_usb_a_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-always-on;
		};

		reg_usb_c_vbus: usb_c_vbus {
			compatible = "regulator-fixed";
			regulator-name = "reg_usb_c_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 14 GPIO_ACTIVE_HIGH>; /* EN-USBC_Vbus_5V */
			enable-active-high;
		};

		reg_can: regulator-can1 {
			compatible = "regulator-fixed";
			regulator-name = "can1-power";
			pinctrl-names = "default";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio1 6 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-always-on;
		};

		reg_phy_io: regulator-phy-io {
			compatible = "regulator-fixed";
			regulator-name = "eth-phy-io";
			pinctrl-names = "default";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio4 29 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_phy_core: regulator-phy-core {
			compatible = "regulator-fixed";
			regulator-name = "eth-phy-core";
			pinctrl-names = "default";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			gpio = <&gpio4 28 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			vin-supply = <&reg_phy_io>;
			startup-delay-us = <20>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		power {
			label = "Power Button";
			gpios = <&gpio5 23 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>; /* KEY_POWER */
			gpio-key,wakeup;
		};
	};

	vbus-gpio {
		compatible = "gpio-vbus";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tusb321>, <&pinctrl_typec_mux>;
		vbus-supply = <&reg_usb_c_vbus>;
		id-gpio = <&gpio2 19 GPIO_ACTIVE_LOW>;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&pinctrl_gpio_led>;
		pinctrl-names = "default";
		status-red {
			gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		status-green {
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "timer";
		};

		status-blue {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};
};

&gpc {
	compatible = "fsl,imx8mpl-gpc";
};

&A53_0 {
	cpu-supply = <&buck2>;
};

&A53_1 {
	cpu-supply = <&buck2>;
};

&A53_2 {
	cpu-supply = <&buck2>;
};

&A53_3 {
	cpu-supply = <&buck2>;
};

&snvs_pwrkey {
	status = "okay";
};

&gpio1 {
	gpio-line-names = "", "", "", "", "en-slow-clk-wlan", "", "", "",
						"can1-sdn", "", "", "", "", "pmic-enable-wlan", "", "can1-stb";

	en_32k_clk_wlan {
		gpio-hog;
		gpios = <4 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&gpio2 {
	en_mux {
		gpio-hog;
		gpios = <15 GPIO_ACTIVE_LOW>;
		output-high;
	};
};

&gpio3 {
	gpio-line-names = "", "", "", "", "", "", "", "",
						"spinor-wp", "", "", "", "", "", "", "";
};

&gpio4 {
	gpio-line-names = "", "", "", "", "", "", "", "",
						"", "", "", "", "", "", "", "",
						"", "", "", "", "", "host-wake-wlan", "wlan-wake-host", "",
						"", "", "", "", "", "", "", "hwrev0";

	host-wake-wlan {
		gpio-hog;
		gpios = <21 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&gpio5 {
	gpio-line-names = "hwrev1", "hwrev2", "", "bt-wake-host", "host-wake-bt", "", "", "",
						"", "can-vbus", "", "", "", "", "", "",
						"", "", "", "", "", "", "", "";
};


&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	snps,force_thresh_dma_mode;
	status = "okay";
	max-speed = <100>;
	snps,reset-gpios = <&gpio2 14 GPIO_ACTIVE_LOW>; /* ETHPHY_nRST */
	snps,reset-delays-us = <0 10000 30000>;

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};
	};
};

&flexspi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "okay";

	mx25u6435f: flash@0 { /* MX25U6432FM2I02 (64 Mbit) */
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "macronix,mx25u6435f", "jedec,spi-nor";
		spi-max-frequency = <80000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-nor,ddr-quad-read-dummy = <6>;

	};
};

&mx25u6435f {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "barebox-environment-qspi";
			reg = <0x0 0x40000>;
		};

		backend_state_qspi: state@40000 {
			label = "barebox-state";
			reg = <0x40000 0xc0000>;
		};

		partition@100000 {
			label = "system_a";
			reg = <0x100000 0x40000>;
		};
		partition@140000 {
			label = "system_b";
			reg = <0x140000 0x40000>;
		};

		partition@180000 {
			label = "user_a";
			reg = <0x180000 0x40000>;
		};
		partition@1c0000 {
			label = "user_b";
			reg = <0x1c0000 0x40000>;
		};
	};
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	xceiver-supply = <&reg_can>;
	status = "okay";
	termination-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
    termination-ohms = <60>;
};

&i2c1 { /* PMIC PCA9450CHNY */
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pmic: pca9450@25 {
		compatible = "nxp,pca9450c";
		reg = <0x25>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic>;
		interrupt-parent = <&gpio1>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;

		regulators {
			BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <720000>;
				regulator-max-microvolt = <1000000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck2: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <720000>;
				regulator-max-microvolt = <1025000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
				nxp,dvs-run-voltage = <950000>;
				nxp,dvs-standby-voltage = <850000>;
			};

			buck4: BUCK4 {
				regulator-name = "BUCK4";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3600000>;
				regulator-boot-on;
				regulator-always-on;
			};

			BUCK5 {
				regulator-name = "BUCK5";
				regulator-min-microvolt = <1650000>;
				regulator-max-microvolt = <1950000>;
				regulator-boot-on;
				regulator-always-on;
			};

			BUCK6 {
				regulator-name = "BUCK6";
				regulator-min-microvolt = <1045000>;
				regulator-max-microvolt = <1155000>;
				regulator-boot-on;
				regulator-always-on;
			};

			LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1650000>;
				regulator-max-microvolt = <1950000>;
				regulator-boot-on;
				regulator-always-on;
			};

			LDO3 {
				regulator-name = "LDO3";
				regulator-min-microvolt = <1710000>;
				regulator-max-microvolt = <1890000>;
				regulator-boot-on;
				regulator-always-on;
			};

			LDO5 {
				regulator-name = "LDO5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	main_rtc: rtc-rx8900@32 {
		compatible = "epson,rx8900";
		reg = <0x32>;
		interrupt-parent = <&gpio1>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	adc_vin_sys: ina231@40 {
		compatible = "ti,ina231";
		reg = <0x40>;
		shunt-resistor = <10000>;  // TODO: Find value
	};
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	assigned-clocks = <&clk IMX8MP_CLK_UART3>;
	assigned-clock-parents = <&clk IMX8MP_SYS_PLL1_80M>;
	fsl,uart-has-rtscts;
	status = "okay";
};

/* USB A */
&usb3_phy0 {
	vbus-supply = <&reg_usb_a_vbus>;
	status = "okay";
};

&usb3_0 {
	status = "okay";
};

&usb_dwc3_0 {
	dr_mode = "host";
	hnp-disable;
	srp-disable;
	adp-disable;
	snps,dis-u1-entry-quirk;
	snps,dis-u2-entry-quirk;
	status = "okay";
};

/* USB-C */
&usb3_phy1 {
	fsl,phy-tx-vref-tune = <0xe>;
	fsl,phy-tx-preemp-amp-tune = <3>;
	fsl,phy-tx-vboost-level = <5>;
	fsl,phy-comp-dis-tune = <7>;
	fsl,pcs-tx-deemph-3p5db = <0x21>;
	fsl,phy-pcs-tx-swing-full = <0x7f>;
	status = "okay";
};

&usb3_1 {
	status = "okay";
};

&usb_dwc3_1 {
	dr_mode = "host";
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;
	role-switch-default-mode = "device";
	snps,dis-u1-entry-quirk;
	snps,dis-u2-entry-quirk;
	status = "okay";
};

&usdhc1 {
	assigned-clocks = <&clk IMX8MP_CLK_USDHC1>;
	assigned-clock-rates = <400000000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>, <&pinctrl_wifi1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>, <&pinctrl_wifi1>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>, <&pinctrl_wifi1> ;
	vmmc-supply = <&reg_wifi>;
	bus-width = <4>;
	status = "okay";

	wifi_wake_host {
		compatible = "nxp,wifi-wake-host";
		interrupt-parent = <&gpio4>;
		interrupts = <22 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "host-wake";
	};
};

&usdhc2 {
	status = "disabled";
};

&usdhc3 {
	assigned-clocks = <&clk IMX8MP_CLK_USDHC3>;
	assigned-clock-rates = <400000000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&usdhc3 {
	partitions {
		compatible = "fixed-partitions";
		#size-cells = <1>;
		#address-cells = <1>;

		partition@0 {
			label = "barebox";
			reg = <0x0 0xe0000>;
		};

		partition@e0000 {
			label = "barebox-environment";
			reg = <0xe0000 0x20000>;
		};

		backend_state_usdhc: partition@100000 {
			reg = <0x100000 0x100000>;
			label = "state-emmc";
		};
	};
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};


&pcie {
	status = "disabled";
};

&pcie_phy{
	ext_osc = <1>;
	status = "disabled";
};

/* PAD defs for IMX8MP
BIT8: PULL Enable=1
BIT7: HYS Shmitt=1
BIT6: PUE Down=0, Up=1
BIT5: ODE
BIT4: SLEW Fast=1
BIT2:1 STRENGTH x1,x2,x4,x6
*/

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO04__GPIO1_IO04			0x142		/* EN_32KO-RTC (WLAN SLP_CLK-WLAN)*/
			MX8MP_IOMUXC_GPIO1_IO09__GPIO1_IO09			0x1c0		/* nINT-RTC_A */
			MX8MP_IOMUXC_GPIO1_IO13__GPIO1_IO13			0x106		/* PMIC_EN-WLAN */
			MX8MP_IOMUXC_GPIO1_IO14__GPIO1_IO14			0x102		/* EN-USBC_Vbus_5V */

			MX8MP_IOMUXC_GPIO1_IO06__GPIO1_IO06         0x102		/* EN-VBUS_CAN */

			MX8MP_IOMUXC_UART1_RXD__GPIO5_IO22			0x080		/* DC_IN_nFLG_R */
			MX8MP_IOMUXC_UART1_TXD__GPIO5_IO23			0x1c0		/* Key_nPOWER */
			MX8MP_IOMUXC_SAI3_TXFS__GPIO4_IO31			0x00		/* HW_Setting_0 */
			MX8MP_IOMUXC_SAI3_TXC__GPIO5_IO00			0x00		/* HW_Setting_1 */
			MX8MP_IOMUXC_SAI3_TXD__GPIO5_IO01			0x00		/* HW_Setting_2 */

			MX8MP_IOMUXC_SAI3_RXFS__GPIO4_IO28			0x106		/* EN_1V2_ENET_A */
			MX8MP_IOMUXC_SAI3_RXC__GPIO4_IO29			0x106		/* EN_PWR-ENET_A */
			MX8MP_IOMUXC_SD2_DATA3__GPIO2_IO18			0x080		/* VCONN_nFAULT */

			MX8MP_IOMUXC_SPDIF_RX__GPIO5_IO04			0x142		/* HOST_WAKEUP_BT, PU */
			MX8MP_IOMUXC_SPDIF_TX__GPIO5_IO03			0x180		/* BT_WAKEUP_HOST, PD */
		>;
	};

	pinctrl_tusb321: tusb321grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_RESET_B__GPIO2_IO19		0x00 		/* OTG_ID */
			MX8MP_IOMUXC_SD2_WP__GPIO2_IO20				0x80		/* OUT1 */
			MX8MP_IOMUXC_SD2_CD_B__GPIO2_IO12			0x80		/* OUT2 */
		>;
	};

	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX8MP_IOMUXC_ENET_MDC__ENET_QOS_MDC					0x002
			MX8MP_IOMUXC_ENET_MDIO__ENET_QOS_MDIO				0x002
			MX8MP_IOMUXC_ENET_RD0__ENET_QOS_RGMII_RD0			0x90
			MX8MP_IOMUXC_ENET_RD1__ENET_QOS_RGMII_RD1			0x90
			MX8MP_IOMUXC_ENET_RD2__ENET_QOS_RGMII_RD2			0x90
			MX8MP_IOMUXC_ENET_RD3__ENET_QOS_RGMII_RD3			0x90
			MX8MP_IOMUXC_ENET_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x90
			MX8MP_IOMUXC_ENET_RX_CTL__ENET_QOS_RGMII_RX_CTL		0x90
			MX8MP_IOMUXC_ENET_TD0__ENET_QOS_RGMII_TD0			0x1e
			MX8MP_IOMUXC_ENET_TD1__ENET_QOS_RGMII_TD1			0x1e
			MX8MP_IOMUXC_ENET_TD2__ENET_QOS_RGMII_TD2			0x1e
			MX8MP_IOMUXC_ENET_TD3__ENET_QOS_RGMII_TD3			0x1e
			MX8MP_IOMUXC_ENET_TX_CTL__ENET_QOS_RGMII_TX_CTL		0x1e
			MX8MP_IOMUXC_ENET_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x1e
			MX8MP_IOMUXC_SD2_CLK__GPIO2_IO13 					0x002 	/*nINT_ENET_A*/
			MX8MP_IOMUXC_SD2_CMD__GPIO2_IO14					0x002 	/*ETHPHY_nRST*/
		>;
	};

	pinctrl_pcie0: pcie0grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_DATA5__GPIO2_IO07			0x1c4	   	/* PCIE_PERST */
			MX8MP_IOMUXC_SD1_DATA4__GPIO2_IO06			0x1c4	   	/* W_DISABLE */
			MX8MP_IOMUXC_I2C4_SDA__GPIO5_IO21			0x1c0 		/* PCIE_WAKE_N */
			MX8MP_IOMUXC_I2C4_SCL__GPIO5_IO20			0x1c0 		/* PCIE_CLKREQ_N */
		>;
	};

	pinctrl_typec_mux: typec1muxgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_DATA0__GPIO2_IO15	0x101	/* EN-USB3C_MUX */
			MX8MP_IOMUXC_SD2_DATA1__GPIO2_IO16	0x140	/* SS_SEL-USB3c_MUX, tied with DIR-TypeC_CC */
			MX8MP_IOMUXC_SD2_DATA2__GPIO2_IO17	0x140	/* Tied with DIR-TypeC_CC */
		>;
	};
	pinctrl_wifi1: wifi1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI2_RXFS__GPIO4_IO21		0x142	/* HOST_WAKEUP_WLAN */
			MX8MP_IOMUXC_SAI2_RXC__GPIO4_IO22		0x1C0	/* WLAN_WAKEUP_HOST */
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C1_SCL__I2C1_SCL		0x400001c2
			MX8MP_IOMUXC_I2C1_SDA__I2C1_SDA		0x400001c2
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C2_SCL__I2C2_SCL		0x400001c2
			MX8MP_IOMUXC_I2C2_SDA__I2C2_SDA		0x400001c2
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C3_SCL__I2C3_SCL		0x400001c2
			MX8MP_IOMUXC_I2C3_SDA__I2C3_SDA		0x400001c2
		>;
	};

	pinctrl_pmic: pmicgrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO03__GPIO1_IO03	0x000001c0
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART2_RXD__UART2_DCE_RX	0x102
			MX8MP_IOMUXC_UART2_TXD__UART2_DCE_TX	0x102
		>;
	};

	/* UART BT */
	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_DATA6__UART3_DCE_TX		0x16
			MX8MP_IOMUXC_SD1_DATA7__UART3_DCE_RX		0x16
			MX8MP_IOMUXC_SD1_RESET_B__UART3_DCE_RTS		0x16
			MX8MP_IOMUXC_SD1_STROBE__UART3_DCE_CTS		0x16
		>;
	};

	pinctrl_usb0_vbus: usba-vbusgrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO12__USB1_OTG_PWR		0x106
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_CLK__USDHC1_CLK	0x192
			MX8MP_IOMUXC_SD1_CMD__USDHC1_CMD	0x1d2
			MX8MP_IOMUXC_SD1_DATA0__USDHC1_DATA0	0x1d2
			MX8MP_IOMUXC_SD1_DATA1__USDHC1_DATA1	0x1d2
			MX8MP_IOMUXC_SD1_DATA2__USDHC1_DATA2	0x1d2
			MX8MP_IOMUXC_SD1_DATA3__USDHC1_DATA3	0x1d2
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1-100mhzgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_CLK__USDHC1_CLK	0x194
			MX8MP_IOMUXC_SD1_CMD__USDHC1_CMD	0x1d4
			MX8MP_IOMUXC_SD1_DATA0__USDHC1_DATA0	0x1d4
			MX8MP_IOMUXC_SD1_DATA1__USDHC1_DATA1	0x1d4
			MX8MP_IOMUXC_SD1_DATA2__USDHC1_DATA2	0x1d4
			MX8MP_IOMUXC_SD1_DATA3__USDHC1_DATA3	0x1d4
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_CLK__USDHC1_CLK	0x196
			MX8MP_IOMUXC_SD1_CMD__USDHC1_CMD	0x1d6
			MX8MP_IOMUXC_SD1_DATA0__USDHC1_DATA0	0x1d6
			MX8MP_IOMUXC_SD1_DATA1__USDHC1_DATA1	0x1d6
			MX8MP_IOMUXC_SD1_DATA2__USDHC1_DATA2	0x1d6
			MX8MP_IOMUXC_SD1_DATA3__USDHC1_DATA3	0x1d6
		>;
	};

	pinctrl_usdhc3: usdhc3grp { /* EMMC eMMC16G-TB28-A20 */
		fsl,pins = <
			MX8MP_IOMUXC_NAND_WE_B__USDHC3_CLK		0x192 /*SD3_CLK*/
			MX8MP_IOMUXC_NAND_WP_B__USDHC3_CMD		0x1d2 /*SD3_CMD*/
			MX8MP_IOMUXC_NAND_DATA04__USDHC3_DATA0	0x1d2 /*SD3_DATA0*/
			MX8MP_IOMUXC_NAND_DATA05__USDHC3_DATA1	0x1d2 /*SD3_DATA1*/
			MX8MP_IOMUXC_NAND_DATA06__USDHC3_DATA2	0x1d2 /*SD3_DATA2*/
			MX8MP_IOMUXC_NAND_DATA07__USDHC3_DATA3	0x1d2 /*SD3_DATA3*/
			MX8MP_IOMUXC_NAND_RE_B__USDHC3_DATA4	0x1d2 /*SD3_DATA4*/
			MX8MP_IOMUXC_NAND_CE2_B__USDHC3_DATA5	0x1d2 /*SD3_DATA5*/
			MX8MP_IOMUXC_NAND_CE3_B__USDHC3_DATA6	0x1d2 /*SD3_DATA6*/
			MX8MP_IOMUXC_NAND_CLE__USDHC3_DATA7		0x1d2 /*SD3_DATA7*/
			MX8MP_IOMUXC_NAND_CE1_B__USDHC3_STROBE	0x192 /* SD3_STROBE*/
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_WE_B__USDHC3_CLK		0x194 /*SD3_CLK*/
			MX8MP_IOMUXC_NAND_WP_B__USDHC3_CMD		0x1d4 /*SD3_CMD*/
			MX8MP_IOMUXC_NAND_DATA04__USDHC3_DATA0	0x1d4 /*SD3_DATA0*/
			MX8MP_IOMUXC_NAND_DATA05__USDHC3_DATA1	0x1d4 /*SD3_DATA1*/
			MX8MP_IOMUXC_NAND_DATA06__USDHC3_DATA2	0x1d4 /*SD3_DATA2*/
			MX8MP_IOMUXC_NAND_DATA07__USDHC3_DATA3	0x1d4 /*SD3_DATA3*/
			MX8MP_IOMUXC_NAND_RE_B__USDHC3_DATA4	0x1d4 /*SD3_DATA4*/
			MX8MP_IOMUXC_NAND_CE2_B__USDHC3_DATA5	0x1d4 /*SD3_DATA5*/
			MX8MP_IOMUXC_NAND_CE3_B__USDHC3_DATA6	0x1d4 /*SD3_DATA6*/
			MX8MP_IOMUXC_NAND_CLE__USDHC3_DATA7		0x1d4 /*SD3_DATA7*/
			MX8MP_IOMUXC_NAND_CE1_B__USDHC3_STROBE	0x194 /* SD3_STROBE*/
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_WE_B__USDHC3_CLK		0x196 /*SD3_CLK*/
			MX8MP_IOMUXC_NAND_WP_B__USDHC3_CMD		0x1d6 /*SD3_CMD*/
			MX8MP_IOMUXC_NAND_DATA04__USDHC3_DATA0	0x1d6 /*SD3_DATA0*/
			MX8MP_IOMUXC_NAND_DATA05__USDHC3_DATA1	0x1d6 /*SD3_DATA1*/
			MX8MP_IOMUXC_NAND_DATA06__USDHC3_DATA2	0x1d6 /*SD3_DATA2*/
			MX8MP_IOMUXC_NAND_DATA07__USDHC3_DATA3	0x1d6 /*SD3_DATA3*/
			MX8MP_IOMUXC_NAND_RE_B__USDHC3_DATA4	0x1d6 /*SD3_DATA4*/
			MX8MP_IOMUXC_NAND_CE2_B__USDHC3_DATA5	0x1d6 /*SD3_DATA5*/
			MX8MP_IOMUXC_NAND_CE3_B__USDHC3_DATA6	0x1d6 /*SD3_DATA6*/
			MX8MP_IOMUXC_NAND_CLE__USDHC3_DATA7		0x1d6 /*SD3_DATA7*/
			MX8MP_IOMUXC_NAND_CE1_B__USDHC3_STROBE	0x196 /* SD3_STROBE*/
		>;
	};

	pinctrl_sai2: sai2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI2_RXD0__AUDIOMIX_SAI2_RX_DATA00		0xd6 /*SAI2_RXD0 - BT_PCM_DIN*/
			MX8MP_IOMUXC_SAI2_TXC__AUDIOMIX_SAI2_TX_BCLK		0xd6 /*SAI2_TXC - BT_PCM_CLK*/
			MX8MP_IOMUXC_SAI2_TXD0__AUDIOMIX_SAI2_TX_DATA00		0xd6 /*SAI2_TXD0 - BT_PCM_SDOUT*/
			MX8MP_IOMUXC_SAI2_TXFS__AUDIOMIX_SAI2_TX_SYNC		0xd6 /*SAI2_TXFS - BT_PCM_SYNC*/
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO02__WDOG1_WDOG_B	0xc6
		>;
	};

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_ALE__FLEXSPI_A_SCLK           0x1c2
			MX8MP_IOMUXC_NAND_CE0_B__FLEXSPI_A_SS0_B        0x82
			MX8MP_IOMUXC_NAND_DATA00__FLEXSPI_A_DATA00      0x82
			MX8MP_IOMUXC_NAND_DATA01__FLEXSPI_A_DATA01      0x82
			MX8MP_IOMUXC_NAND_DATA02__FLEXSPI_A_DATA02      0x82
			MX8MP_IOMUXC_NAND_DATA03__FLEXSPI_A_DATA03      0x82
		>;
	};

	pinctrl_gpio_led: gpioledgrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO10__GPIO1_IO10		0x104	/* LED R */
			MX8MP_IOMUXC_GPIO1_IO11__GPIO1_IO11		0x104	/* LED G */
			MX8MP_IOMUXC_GPIO1_IO01__GPIO1_IO01		0x104	/* LED B */
		>;
	};

	pinctrl_flexcan2: flexcan1grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART3_TXD__CAN2_RX			0x080
			MX8MP_IOMUXC_UART3_RXD__CAN2_TX			0x004
			MX8MP_IOMUXC_GPIO1_IO15__GPIO1_IO15		0x004	/* CAN1_STBY */
			MX8MP_IOMUXC_GPIO1_IO08__GPIO1_IO08		0x004	/* SHDN-CAN1 */
		>;
	};
};
